body{
    background-image: url(https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
}